*,
*::before,
*::after {
  padding: 4px;
  box-sizing: border-box;
}
header {
  text-align: center;
  width: 100%;
  display: flex;
}
nav {
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  min-height: 8vh;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}
.nav-links a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
button {
  border-radius: 8px;
  border: 1px solid blue;
}
